* {
box-sizing : border-box;
margin : 0 0 0 0;
}
header {
position : absolute;
display : flex;
margin : 0 0 0 7.8125vw;
}
.header_info
 {
 	height: 125px;
 	width: 100%;
 	padding-top: 47px;
 	color: white;
 }
 .logo
 {
 	font-size:50px;
 	margin-left:35px;   
 	float: left;
 }
nav {
display : flex;
margin : 2.4088541666666665vw 0 0 9.5703125vw;
}
ul {
display : flex;
justify-content : space-between;
width : 47.778646vw;
font-size : 1.3vw;
padding-top : 1.1vw;
}
li {
list-style-type : none;
font-family : lato, sans-serif;
font-weight : bold;
color : #ffffff;
}
li:hover {
list-style-type : none;
font-family : lato, sans-serif;
font-weight : bold;
color : #ffffff;
border-top : 0.13020833333333334vw solid #ffffff;
height : 8.557292vw;
margin-top : -3.508854vw;
padding-top : 3.36vw;
}
h1 {
color : #ffffff;
font-size : 4vw;
margin-top : 12.286458vw;
text-align : center;
height : 13.020833333333334vw;
margin-bottom : 0;
}
.Promo {
width : 98.9vw;
height : 46.0625vw;
margin : auto;
background-image : url(../Polischuk_KR_Web/Img_BackGround.png);
background-position : center;
background-repeat : no-repeat;
background-size : 100%;
display : flex;
flex-direction : column;
margin : auto;
}
.button {
width : 11vw;
height : 3vw;
margin : auto;
margin-top : 1.7578125vw;
background :#1f160a ;
opacity : 0.5;
color : white;
border : white solid 0.2020833333333334vw;
}
.buttontext {
position : absolute;
color : white;
margin : 1.59vw 0 0 3.7vw;
font-size : 0.9vw;
}